/* fonts */
/* Noto Sans KR, Cute Font */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR:wght@100..900&display=swap');

/* IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* animations */


/* styles */

/* Current application customs */
html {

    --color-gmdg-darker: #415244;   --cgmdgdr: 65 82 68;
    --color-gmdg-dark: #357C43;     --cgmdgd: 55 124 67;
    --color-gmdg: #209237;          --cgmdg: 32 146 55;
    --color-gmdg-light: #0DA72C;    --cgmdgl: 13 167 44;

    --color-point-dark: var(--color-gmdg-dark);      --cpd: var(--cgmdgd);
    --color-point: var(--color-gmdg);                --cp: var(--cgmdg);
    --color-point-light: var(--color-gmdg-light);    --cpl: var(--cgmdgl);


    /* --top-pad: calc(env(safe-area-inset-top) + 0px);
    --bottom-pad: calc(env(safe-area-inset-bottom) + 0px); */

}

body {
    --common-bg-color: #EFEFEF;

    font-family: 'Noto Sans KR';



    /* adaptive color (light/common) */
}

body[data-dark-mode="1"] {

    /* adaptive color (dark) */

}

main { font-family: 'Noto Sans KR'; }
main button, main input, main textarea { font-family: 'Noto Sans KR'; }

article { --article-theme-color: transparent; }

article button { padding: 1em; border-style: none; border-radius: 1em; }


/* override EstreUI */

/* footer#fixedBottom { transition-timing-function: ease; transition-duration: 0.3s; }
footer#fixedBottom:not(:hover) { bottom: -44px; } */

footer#fixedBottom { background-color: transparent; }


/* custom element styles */
article .line_block { border-bottom: none; border-radius: 0; }

article .bg_pointed { --bg-basic: rgb(var(--cpl) / 15%); --bg-hover: rgb(var(--cpl) / 30%); --bg-active: rgb(var(--cpl) / 60%); }



/* Data related styles */
article .content_holder { display: flex; flex-flow: column nowrap; width: max-content; margin: auto; align-items: stretch; font-family: "IBM Plex Mono"; font-size: min(1.25rem, calc((var(--available-max-width) - (var(--basic-ui-inset-h) * 2)) / 23)); line-height: 1.6666em; user-select: text; }
article .content_holder > p { margin: var(--basic-ui-inset-v-half) 0 var(--basic-ui-inset-v); padding: var(--basic-ui-inset-v) var(--basic-ui-inset-h); background-color: var(--color-boundary-bright); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }





/* extra preset */

.app_user_handle { }
.app_user_handle label { min-width: fit-content; overflow: hidden; }
.app_user_handle .sign_out { cursor: pointer; }
